/* banner section css start */
.hero-banner-wrapper {
    display: flex;
    gap: 10px;
    padding: 10px 0 0 0;
    height: 660px;
}

.hero-banner-slider-area {
    width: 65%;
    overflow: hidden;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.hero-banner-content-area {
    width: 34%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero-banner-img-text-item {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.hero-banner-img-text-item .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.hero-banner-img-text-item-content {
    text-align: center;
    margin: 0 0 24px 0;
}

.hero-banner-img-text-item-title {
    color: var(--white);
    text-transform: capitalize;
}

.hero-banner-img-text-item-content .btn {
    margin: 10px 0 0;
}

.hero-banner-slider-area .swiper.banner-slider {
    height: 100%;
}

.slider-banner-item {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-banner-slider-area .slider-banner-item {
    height: 100%;
}

.slider-banner-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.banner-content-inner {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.hero-banner-slider-area .banner-content-inner {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
}

.hero-banner-slider-area .banner-content-inner .banner-content {
    text-align: left;
    padding: 20px;
}

.slider-banner-overlay .banner-content {
    width: 52%;
    text-align: center;
}

.banner-content-heading {
    color: var(--white);
    text-transform: capitalize;
}

.banner-content-text {
    color: var(--white);
    max-width: 450px;
    margin: 16px auto 0;
}

.banner-content-btn {
    margin: 16px 0 0 0;
    display: flex;
    justify-content: center;
}

.hero-banner-slider-area .banner-content-inner .banner-content-btn {
    justify-content: flex-start;
}

/* banner section css end */

@media only screen and (max-width: 1200px) {

    /* banner section css start */
    .hero-banner-wrapper {
        height: 560px;
    }

    /* banner section css end */
}

@media only screen and (max-width: 992px) {

    /* banner section css start */
    .hero-banner-wrapper {
        padding: 0;
        height: 100%;
        flex-wrap: wrap;
    }

    .hero-banner-slider-area {
        width: 100%;
    }

    .hero-banner-content-area {
        width: 100%;
        flex-direction: row;
    }

    .hero-banner-img-text-item {
        width: 100%;
    }

    .hero-banner-slider-area .banner-content-inner {
        height: 600px;
    }

    /* banner section css end */
}

@media only screen and (max-width:767px) {

    /* banner section css start */
    .banner-slider-section {
        padding: 20px 0 0 0;
    }

    .banner-content-inner {
        align-items: flex-end;
        padding: 0;
    }

    .hero-banner-slider-area .banner-content-inner {
        height: 500px;
    }

    .hero-banner-slider-area .slider-banner-overlay .banner-content {
        margin: 0;
    }

    .slider-banner-overlay .banner-content {
        width: 70%;
        margin: 0 0 70px 0;
    }

    /* banner section css end */
}

@media only screen and (max-width: 575px) {

    /* banner section css start */
    .banner-content-inner {
        height: 350px;
    }

    .hero-banner-slider-area .banner-content-inner {
        height: 350px;
    }

    .slider-banner-overlay .banner-content {
        width: 90%;
        margin: 0 0 50px 0;
    }

    .hero-banner-content-area {
        flex-direction: column;
    }

    .hero-banner-img-text-item {
        height: 200px;
    }

    .hero-banner-img-text-item .overlay {
        align-items: center;
    }

    .hero-banner-img-text-item-content {
        margin: 0;
        padding: 20px;
    }

    /* banner section css end */
}