.breadcrumb {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.breadcrumb li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.breadcrumb li a,
.breadcrumb li span {
    color: var(--white);
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    transition: all ease .3s;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    -o-transition: all ease .3s;
}

.breadcrumb li a:hover {
    color: var(--brand-color);
}

.breadcrumb li .active {
    text-decoration: underline;
}

.breadcrumb li .breadcrumb-icon i {
    color: var(--white);
    font-size: 14px;
}

.breadcrumb li:last-child .breadcrumb-icon {
    display: none;
}