/* product-card css start */

.product-card {
	height: 100%;
}

.product-card .card-image-wrap {
	margin: 0;
	min-width: 0px;
	border: 0px;
	box-sizing: border-box;
	display: flex;
	height: auto;
	max-width: 100%;
	overflow: hidden;
	padding: 0;
	position: relative;
	width: 100%;
	background-color: var(--card-bg);
}

.card-badge {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 1;
	color: var(--white);
	font-family: var(--paragraph-font);
	font-size: 13px;
	font-weight: 500;
	line-height: 1;
	padding: 5px 8px;
	background-color: var(--card-badge-bg);
	text-transform: capitalize;
}

.card-badge2 {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 1;
	color: var(--paragraph-text-color);
	font-family: var(--paragraph-font);
	font-size: 13px;
	font-weight: 500;
	line-height: 1;
	padding: 5px 8px;
	background-color: var(--white);
	text-transform: capitalize;
}

.wish-btn {
    position: absolute;
    display: flex;
    right: 10px;
    top: 15px;
    color: var(--paragraph-text-color);
    font-size: 20px;
}

.product-card .card-image-wrap:before {
	padding-bottom: 125%;
	content: "";
	width: 0;
	height: 0;
}

.product-card .card-image-wrap .card-img {
	overflow: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
}

.product-card .card-img .main-img {
	transition: ease .5s;
}

.product-card .card-img .main-img img {
	object-fit: cover;
}

.card_hover:hover .card-img .main-img {
	transform: scale(0);
	opacity: 0;
	visibility: hidden;
}

.product-card .card-img .hover-img {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	transform: scale(1.2);
	opacity: 0;
	visibility: hidden;
	transition: ease .5s;
}

.card_hover:hover .card-img .hover-img {
	transform: scale(1);
	opacity: 1;
	visibility: visible;
}

.product-card .card_hover_img {
	object-fit: cover;
}

.product-card .card-content {
	margin: 16px 0 0 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 20px;
	height: 160px;
}

.card-content-top {
	height: 65px;
	overflow-y: auto;
	scrollbar-width: none;
	text-align: left;
}

.product-card .card-content .card-title {
	color: var(--paragraph-text-color);
	font-family: var(--paragraph-font);
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	text-transform: capitalize;
}

.product-card .card-content .card-title {
	transition: ease .2s;
}

.product-card .card-content .card-title:hover {
	text-decoration: underline;
}

.product-card .card-content .card-price {
	display: flex;
	gap: 5px;
}

.product-card .card-content .card-price-wrap {
	display: flex;
	gap: 10px;
	align-items: center;
}

.product-card .card-content .card-price-wrap .latest-price {
	color: var(--paragraph-text-color);
	font-family: var(--paragraph-font);
	font-size: 20px;
	font-weight: 600;
	line-height: 1;
	text-transform: uppercase;
}

.product-card .card-content .card-price-wrap .previous-price {
	text-transform: uppercase;
	font-family: var(--paragraph-font);
	font-size: 20px;
	font-weight: 600;
	color: var(--text-muted);
	text-decoration: line-through;
	line-height: 1;
}

.card-btn {
	position: absolute;
	bottom: -100%;
	left: 50%;
	transition: ease .3s;
	display: flex;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-webkit-transition: ease .3s;
	-moz-transition: ease .3s;
	-ms-transition: ease .3s;
	-o-transition: ease .3s;
}

.card-btn .btn {
    background-color: var(--white);
    color: var(--black);
    padding: 8px 20px;
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    text-wrap-mode: nowrap;
}

.product-card:hover .card-image-wrap .card-btn {
	bottom: 20px;
}

.card-btm-btn {
	display: flex;
	margin: 10px 0 0;
}

.card-btm-btn .btn {
	width: 100%;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

/* product-card css end */

@media only screen and (max-width: 767px) {

	/* product-card css start */
	.product-card .card-content {
		gap: 10px;
		height: 160px;
	}

	.product-card .card-content .card-title {
		font-size: 14px;
		line-height: 20px;
	}

	.card-btn .btn {
		padding: 10px;
		font-size: 14px;
	}

	.card-badge {
		font-size: 12px;
		top: 10px;
		left: 10px;
		padding: 4px 5px;
	}

	/* product-card css end */
}

@media only screen and (max-width: 575px) {

	/* product-card css start */
	.card-content-top {
		height: 44px;
	}

	.product-card .card-content {
		height: 114px;
	}

	.product-card .card-content .card-title {
		text-transform: capitalize;
		font-size: 12px;
		line-height: 16px;
		font-weight: 400;
	}

	.product-card .card-content {
		margin: 10px 0 0 0;
	}

	.product-card .card-content .card-price-wrap .latest-price {
		font-size: 14px;
	}

	.product-card .card-content .card-price-wrap .previous-price {
		font-size: 14px;
	}

	.card-btn .btn {
		width: 100%;
		padding: 8px;
		font-size: 12px;
	}

	.card-badge {
		font-size: 10px;
	}

	.card-badge2 {
		font-size: 11px;
		font-weight: 400;
	}

	.wish-btn {
    font-size: 16px;
}

	/* product-card css end */
}