/* category section css start */
.category-slider-area {
    margin: 0 -20px 0 0;
}

.category-section2 .category-slider-area {
    padding: 20px 0 0 0;
    border-top: 1px solid var(--border-color);
}

.swiper.card-img-slide .swiper-slide {
    height: auto;
}

.category-item-inner {
    display: block;
}

.category-item-img {
    overflow: hidden;
    border-radius: 100%;
    transition: all ease .3s;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    -o-transition: all ease .3s;
}

.category-item:hover .category-item-img {
    box-shadow: 3px 3px 10px 3px rgba(221, 221, 221, 0.7);
}

.category-item-img img {
    transition: all ease .3s;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    -o-transition: all ease .3s;
}

.category-section2 .category-item-img {
    border: 2px solid var(--hover-color);
}

.category-item:hover .category-item-img img {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.category-item-content {
    text-align: center;
    margin: 10px 0 0 0;
}

.category-item-content-title {
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    transition: all ease .3s;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    -o-transition: all ease .3s;
}

.category-item:hover .category-item-content-title {
    color: var(--brand-color);
}

.category-varient-items {
    padding: 50px 0 0 0;
    margin: 50px 0 0 0;
    border-top: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
}

.category-varient-item {
    text-align: center;
    color: var(--paragraph-text-color);
    font-size: 14px;
    font-weight: 600;
    font-family: var(--paragraph-font);
    padding: 13px 26px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border-color3);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all ease .3s;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    -o-transition: all ease .3s;
}

.category-varient-item:hover {
    color: var(--btn-color);
    background-color: var(--btn-bg);
}

/* category section css end */

@media only screen and (max-width: 992px) {

    /* category section css start */
    .category-items {
        grid-template-columns: repeat(4, 1fr);
    }

    /* category section css end */
}

@media only screen and (max-width: 767px) {

    /* category section css start */
    .category-varient-items {
        padding: 30px 0 0 0;
        margin: 30px 0 0 0;
    }

    .category-varient-item {
        font-size: 12px;
        font-weight: 500;
        padding: 10px 16px;
    }

    /* category section css end */
}

@media only screen and (max-width: 575px) {

    /* category section css start */
    .category-items {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 20px;
        column-gap: 16px;
        max-width: 350px;
    }

    .category-item {
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
    }

    .category-item-img {
        width: 100%;
        margin: 0 auto;
    }

    .category-item-content {
        margin: 10px 0 0 0;
    }

    .category-item-content-title {
        font-size: 12px;
    }

    .category-section2 .category-item-content-title {
        font-size: 11px;
        font-weight: 400;
    }

    .category-section2 .category-item-img {
        max-width: 63px;
    }

    .category-varient-items {
        padding: 20px 0 0 0;
        margin: 20px 0 0 0;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(3, 1fr);
    }

    .category-varient-item {
        padding: 8px 5px;
        font-weight: 400;
    }

    /* category section css end */
}